.main {
    width: 100%;
    height: fit-content;
    text-align: center;
    margin: 0;
    background-color: #2B2B2B;
    color: #fff;
    @media screen and (min-height: 800px) {
        height: 70vh;
    }

    h1{
        margin: 0;
        padding: 20px;
        @media screen and (max-width: 800px) {
            font-size: 1.6rem;
        }

    }

    .post_list{
        display: grid;
        grid-template-areas:
        "div div div";
        padding-bottom: 15px;


        .post_card {
            width: 360px;
            height: 330px;
            background-color: #423F3E;
            color: #fff;
            margin: 20px auto;
            padding: 20px;
            box-shadow: 2px 2px 7px #fff;
            overflow: hidden;
            transition: 0.3s;

            &:hover{
                transform: scale(1.06);
            }

            @media screen and (min-width: 1300px) {
                display: flex;
                flex-direction: row;
                width: 90%;
                height: 230px;

                .img{
                    width: 200px;
                    align-self: center;
                }
                .description{
                    width: 500px;
                    align-self: center;
                    padding: 20px
                }

            }



        }

        @media screen and (max-width: 1095px) {
            display: grid;
            grid-template-areas:
            "div div";
            padding: 20px;

            @media screen and (max-width: 700px) {
                display: flex;
                flex-direction: column;
            }

            .post_card{
                width: 320px;
                height: 320px;

                @media screen and (max-width: 700px) {
                    width: 80%;
                    height: 300px;
                }


                .description{
                    h2{
                        font-size: 1.5rem;
                    }
                    h3{
                        font-size: 1.1rem;
                    }

                }
            }
        }
    }
}

.color{
    color: rgb(172, 233, 40);
}
